*{
    font-family: 'Roboto', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
}

.root{
    min-width: 500px;
    min-height: 100vh;
    padding: 50px;
    border: 2px solid lavender;
}
.root-forms {
    height: 30px;
}
.root-forms input[type="text"]{
    height: 30px;
    padding: 0;
}
.root-forms input[type="button"]{
    height: 100%;
    min-width: 50px;
    color: whitesmoke;
    box-shadow: none;
    border: none;
    background-color: #9ACD32;
    cursor: pointer;
}
 .listContainer{
    max-width: 500px;
    list-style-type: none;
    padding: 0;
}
.modal-content{
    max-width: 500px;
    list-style-type: none;
    padding: 0;
}
.modal-content .listContainer input[type="button"]{
    display: none;
}

.rent-property{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    border: 1px solid lavender;


}
.rent-property p{
    padding-left: 10px;
}
.rent-property div{
    display: flex;
    flex-direction: row;

}

.rent-property:hover{
    background-color: whitesmoke;
}
.rent-property .summary-add{
    display: flex;
    flex-direction: column;
}
.rent-property .summary-add input{
    max-width: 25%;
    margin-top: 10px;
    padding: 10px 13px;
    text-align: center;
    color: white;
    background-color: #32CD32;
    border: none;
    cursor: pointer;
}
.rent-property .summary-add input:hover{
    background-color: #9ACD32;
}
.rent-property .summary-add a{
    max-width: 20%;
    margin-top: 10px;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #32CD32;
}
.rent-property .summary-add a:hover{
    background-color: #006400;
}
.pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pageNumber{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid lavender;
    background-color: #32CD32;
    color: whitesmoke;
}

.show-more{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.show-more span{
    width: 40%;
    height: 30px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #32CD32;
    border: 1px solid lavender;
    cursor: pointer;
}
